@import 'src/assets/styles/main.scss';

.content {
  margin-top: 65px;

  mat-card {
    box-shadow: none;
    border-radius: 0px;
    min-height: 50vh;

    .mat-form-field {
      display: inherit;
    }
  }

  .cardSide mat-card {
    background-color: $pink;
    color: $white;

    .linkChangePayment {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -0.01px;

      a {
        text-decoration: none;
        text-align: center;
        color: $white;
      }
    }
  }

  .formSide {
    .btn-continue {
      float: right;
      padding: 10px;
      border-radius: 10px;
      text-transform: uppercase;
      width: 100%;
      margin-top: 70px;
      text-align: center;
      font-size: 15px;
    }

    .invalid-feedback {
      color: $red;
    }
  }
}

@media only screen and (min-width: 48em) {
  .cardSide {
    padding-right: 0px;
  }

  .formSide {
    padding-left: 0px;
  }
}
