@import 'src/assets/styles/main.scss';

.content {
  margin-top: 65px;

  @media (max-width: 992px) {
    margin-top: 0px;
  }

  mat-card {
    box-shadow: none;
    border-radius: 0px;
    min-height: 55vh;

    .mat-form-field {
      display: inherit;
    }
  }

  .cardSide mat-card {
    background-color: $pink;
    color: $white;
    padding: 25px;

    .changePayment {
      margin-top: 50px;

      .linkChangePayment {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.01px;

        a {
          text-decoration: none;
          text-align: center;
          color: $white;
        }
      }
    }

    .titleNewCard {
      margin: 10px 0px;

      img {
        margin-top: 18px;
        float: right;
      }

      h2 {
        text-align: left;
        font-size: 23px;
        letter-spacing: -0.8px;
        color: $white;
      }
    }

    .card {
      position: fixed;
      z-index: 100;
    }

    // @media (min-width: 576px) {
    //   .card {
    //     left: inherit;
    //   }
    // }

    // @media (min-width: 768px) {
    //   .card {
    //     max-width: 720px;
    //   }
    // }

    @media (max-width: 992px) {
      .card {
        position: relative;

        img {
          width: 100%;
        }
      }
    }

    // @media (min-width: 1200px) {
    //   .card {
    //     left: 140px;
    //   }
    // }
  }

  .formSide {
    .mat-horizontal-stepper-header-container {
      margin-top: 50px;
    }

    .inputCarrinho {
      margin-bottom: 20px;
    }

    .btn-continue {
      float: right;
      padding: 10px;
      border-radius: 10px;
      margin-top: 70px;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
    }

    .invalid-feedback {
      color: $red;
      font-size: 13px;
    }
  }
}

@media only screen and (min-width: 48em) {
  .cardSide {
    padding-right: 0px;
  }

  .formSide {
    padding-left: 0px;
  }
}
