<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cardSide">
      <div class="box">
        <mat-card>Simple card</mat-card>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 formSide">
      <div class="box">
        <mat-card>
          <mat-horizontal-stepper [linear]="isStepperLinear" #stepper>
            <mat-step [stepControl]="carrinhoForm">
              <form [formGroup]="carrinhoForm" (ngSubmit)="onSubmit()">
                <ng-template matStepperIcon="done" matStepLabel>Carrinho</ng-template>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field>
                      <mat-label>Número do cartão</mat-label>
                      <input matInput formControlName="cardNumber" required [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.cardNumber.errors.required">Número do cartão é obrigatório.</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field>
                      <mat-label>Nome (igual ao cartão)</mat-label>
                      <input matInput formControlName="fullName" required [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                      <div *ngIf="f.fullName.errors.required">Nome é obrigatório.</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field>
                      <mat-label>Validade</mat-label>
                      <input matInput formControlName="expirationMonth" required [ngClass]="{ 'is-invalid': submitted && f.expirationMonth.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.expirationMonth.errors" class="invalid-feedback">
                      <div *ngIf="f.expirationMonth.errors.required">Validade é obrigatório.</div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field>
                      <mat-label>CVV</mat-label>
                      <input matInput formControlName="securityCode" required [ngClass]="{ 'is-invalid': submitted && f.securityCode.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.securityCode.errors" class="invalid-feedback">
                      <div *ngIf="f.securityCode.errors.required">CVV é obrigatório.</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field>
                      <mat-label>Número de parcelas</mat-label>
                      <mat-select [ngClass]="{ 'is-invalid': submitted && f.numberOfInstallment.errors }">
                        <mat-option *ngFor="let numbersOfI of numberOfInstallment" [value]="numbersOfI.value">
                          {{ numbersOfI.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="submitted && f.numberOfInstallment.errors" class="invalid-feedback">
                      <div *ngIf="f.numberOfInstallment.errors.required">Número de parcelas é obrigatório.</div>
                    </div>
                  </div>
                </div>

                <div class="button-row">
                  <button mat-flat-button color="primary" matStepperNext class="btn-continue">Continuar</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepperIcon="done" matStepLabel>Pagamento</ng-template>
              <h1>hi</h1>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card>
      </div>
    </div>
  </div>
</div>
